doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube 
        link(rel="stylesheet", href="http://unpkg.com/mvp.css")
    body
        header
            h1=pageTitle 
        nav 
            ul 
                li 
                    a(href="/videos/upload") ADD  
                li
                    a(href="/") Home   
                li 
                    a(href="/search") Search 
                if loggedIn
                    li 
                        a(href="/join") Log Out 
                    li 
                        a(href="/my-profile") #{loggedInUser.name}의 profile 
                else
                    li 
                        a(href="/join") Join 
                    li 
                        a(href="/login") Login 
        main    
            block content   
    include partials/footer