extends base.pug

block  content 
    h4 Update Video 
    form(method="POST")
        input(name="title",placeholder="Video Title", value=video.title, required)
        input(type="text" name="summary",placeholder="summary",required, value=video.summary,minlength=20)   
        input(type="text" ,name="geners",placeholder="genersm separated by comma.",required,value=video.geners.join())
        input(type ="submit" ,value="Save")