extends base.pug


block  content 
    div 
        p=video.summary 
        small=video.year 
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;